.ligues {
  list-style-type: none;
}

.ligues li {
  display: block;
  border-bottom: 1px solid #333;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #222;
}

.ligues li span {
  margin-right: 30px;
  display: inline-flex;
  vertical-align: middle;
}

.ligues li span i {
  margin-right: 10px;
}

.ligues a {
  float: right;
  text-decoration: none;
  color: #333;
  display: inline-flex;
  vertical-align: middle;
}
